@{
    ViewBag.Title = "Main";
}

<div class="block1">
    <p class="text_1blockH">
        Кто мы такие?
    </p>
    <p class="text_1block">Кубик рубик - интернет магазин для покупки комплектующих для персональных компьютеров.</p>
    <p class="text_1block2">
        Онлайн-магазин делает счастливыми сотни тысяч людей по всей строне - водители-экспедиторы доставляют
        комплектующие в ваш город на почту. Нас любят все, кто предпочитает не тратить время на очереди в магазинах.
    </p>
    <img class="imgblock1" src="~/Content/Images/1Main.png">

    <p class="text_1block3">Контактный телефон:</p>
    <p class="text_2block3">+375445160888</p>

    <p class="text_1block4">Доставка и оплата: Доставка осуществляется по всем районам Беларуси в ближайшее почтовое отделение, оплата производится онлайн.</p>

    <p class="text_1block5">Пункт выдачи заказов: Ближайшее почтовое отделение.</p>
</div>





<footer>
    <p style="margin-left:6vw; margin-top:7vw;">Designed by Greenri and Tyrlock</p>
    <p style="margin-left:6vw;">Page was created 29.06.2022</p>
    <div>
        <p class="blockfooter">Обратная связь</p>
    </div>
    <a href="https://vk.com/tyrlocktopdoter" target="_blank"><img class="imgfooter1" src="~/Content/Images/VK.png"></a>
    <a href="https://www.instagram.com/fucking_bad_322/?hl=ru" target="_blank"><img class="imgfooter2" src="~/Content/Images/inst.png"></a>
    <a href="https://www.facebook.com/profile.php?id=100005311127584" target="_blank"><img class="imgfooter3" src="~/Content/Images/facebook.png"></a>
</footer>